mat-card{
  border-radius: 10px;
  mat-card-header{
    justify-content: space-between;
    mat-card-title{
      color: white;
    }
    mat-icon{
      color: white;
      float: right;
    }
  }
  mat-card-content{
    margin-left: 18px;
    h1 {
      display: block;
      font-size: 2.5rem;
      color: white;
    }
  }
}
