.card-description{
  text-align: center;
}
mat-list-item:hover {
  background: #d9e8e1;
  cursor: pointer;
}

mat-list-item:active {
  background: #81b29a;
  cursor: pointer;
}

.mat-card-header{
  margin-bottom: 15px;
}

.card-content-title{
  text-align: center;
}

mat-card{
  width: 270px;
  border-radius: 10px;
  mat-card-header{
    justify-content: space-between;
    mat-icon{
      float: right;
    }
    mat-icon:hover{
      cursor: pointer;
    }
  }
}
